body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: orange;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.secao-cinza {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
    align-items: center;
}
.secao-cinza .texto {
    flex: 1;
    padding-right: 20px;
}
.secao-cinza .imagem img {
    max-width: 100%;
    border-radius: 8px;
}

.secao-azul {
    background-color: #dff2ff;
    text-align: center;
    padding: 20px;
}


.botao {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


.imagem-grande img {
    width: 100%;
    display: block;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}