body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.secao-azul .titulo {
    background-color:#FF5A00;
    padding: 1px;
    border-radius: 8px;
}

.secao-azul .titulo h2 {
    background-color: #ff7c36;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    color: white;
}

header {
    background-color: #FF5A00;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.secao-cinza {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
    align-items: center;
}
.secao-cinza .texto {
    flex: 1;
    padding-right: 20px;
    background-color: #767d7c;
}
.secao-cinza .imagem img {
    max-width: 100%;
    border-radius: 8px;
}

.secao-azul {
    background-color: #dbe9e8;
    text-align: center;
    padding: 20px;
}


.botao {    
    display: inline-block;
    background-color: #FF5A00;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


.imagem-grande img {
    width: 100%;
    display: block;

}


footer {
background-color: #7C7979;
padding: 20px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.rodape-esquerda {
max-width: 50%;
display: flex;
position: relative;
color: rgb(255, 255, 255);
}

.rodape-esquerda p {
position: flex;
display: flex;
align-items: normal;
}

.container a {
color: rgb(255, 255, 255);
text-decoration: none;
}

.container {
display: flex;
position: relative;
justify-content: center;
margin-right: 160px;
color: rgb(255, 255, 255);
}
.rodape-esquerda ul {
list-style: none;
padding: 0;
display: flex;
flex-direction: column;
margin-left: 100px;
}
.rodape-esquerda li{
margin-bottom: 25px;
}
.container li{
margin-bottom: 15px;
}
.rodape-direita {
margin-right: 180px;
color: rgb(255, 255, 255);
}
header a{
     margin: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
