body{
    background-color: #767d7c;
}

.sobnos{
    background-color: #eb6200;
    color: #ffffff;
    height: 35px;
}

.topo{
    background-color: #E04300;
    width: auto;
    height: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.texto{
    color: #ffffff;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}