body{
    background-color: #767d7c;
}

header {
    background-color: #FF5A00;
    padding: 10px 0;
    text-align: center;
}
header  a{

   margin: 15px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-weight: bold;

}
.sobnostext{
    color: #ffffff;
    font-size:32px;
    display: flex;
    align-items: center;
}
.sobnos{
    background-color: #eb6200;
    display:flex;
    justify-content: center;
    width:50%;
}

.topo{
    background-color: #E04300;
    width: auto;
    display:flex;
    justify-content: center;
    height:64px;
}

.texto{
    color: #ffffff;
    font-size: 32px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 200px;
    display:flex;
}

.imagem{
        width: 250px;
        height: 300px;
}
.infos{
        display:flex;
        flex-direction: column;
        align-self:center;
}

footer {
background-color: #E04300;
padding: 20px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.rodape-esquerda {
max-width: 50%;
display: flex;
position: relative;
color: rgb(255, 255, 255);
}

.rodape-esquerda p {
position: flex;
display: flex;
align-items: normal;
}

.container a {
color: rgb(255, 255, 255);
text-decoration: none;
}

.container {
display: flex;
position: relative;
justify-content: center;
margin-right: 160px;
color: rgb(255, 255, 255);
}
.rodape-esquerda ul {
list-style: none;
padding: 0;
display: flex;
flex-direction: column;
margin-left: 100px;
}
.rodape-esquerda li{
margin-bottom: 25px;
}
.container li{
margin-bottom: 15px;
}
.rodape-direita {
margin-right: 180px;
color: rgb(255, 255, 255);
}