* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #222;
  padding: 15px;
  text-align: center;
}

.menu-topo a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.menu-topo a:hover {
  color: #f7931e;
}


.introducao {
  background: #fff;
  margin: 20px auto;
  padding: 25px;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.introducao h2 {
  text-align: center;
  color: #f7931e;
  margin-bottom: 15px;
}

.bloco {
  background: #fff;
  margin: 25px auto;
  padding: 20px;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.titulo-laranja {
  color: #f7931e;
  margin-bottom: 15px;
  text-align: center;
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.texto {
  flex: 2;
}

.imagem {
  flex: 1;
  text-align: center;
}

.imagem img {
  max-width: 100%;
  border-radius: 8px;
}
.bloco ul {
  margin: 10px 0 20px 20px;
  list-style-type: disc;
}

.funcionalidades {
  background: #fff;
  margin: 25px auto;
  padding: 20px;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.funcionalidades p {
  margin-top: 10px;
  line-height: 1.8;
}

.fabricantes {
  background: #fff;
  margin: 25px auto;
  padding: 20px;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.marcas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

footer {
  background: #222;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  margin-top: 40px;
}

footer a {
  color: #f7931e;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.rodape-esquerda {
  max-width: 300px;
}

.rodape-direita ul,
footer ul {
  list-style: none;
  margin-top: 10px;
}

.container {
  display: flex;
  gap: 50px;
}













